body {
    background-color: lightskyblue;
}

.headMast{
    Text-align:center;
    color:yellow;
}
.row{
    margin-bottom: 10px;
}
#trainTable{
    border-radius: 5px;
   
}
#thomas{
    color: red;
    text-align: center;
}
.card-body{
    color: red;
    background-color: lightgrey;
}
#imageTrain{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content
}